In [1]:
import sqlalchemy as db
from sqlalchemy import Table, Column, Integer, String, Float, MetaData, text

# Инициализация базы данных
engine = db.create_engine('sqlite:///cars_countries.db')
conn = engine.connect()
metadata = MetaData()

# Определение таблицы Country
countrys = Table('Country', metadata,
    Column('country_id', Integer, primary_key=True),
    Column('country_name', String),
    Column('country_capital', String)
)

# Определение таблицы Car
cars = Table('Car', metadata,
    Column('car_id', Integer, primary_key=True),
    Column('car_name', String),
    Column('car_country', String),
    Column('car_mileage', Float),
    Column('car_price', Float)
)

# Создание таблиц
metadata.create_all(engine)

# Вставка данных в таблицу Country
countries_data = [
    {'country_name': 'Germany', 'country_capital': 'Berlin'},
    {'country_name': 'Russia', 'country_capital': 'Moscow'},
    {'country_name': 'Japan', 'country_capital': 'Tokyo'},
    {'country_name': 'USA', 'country_capital': 'Washington'}
]

insert_country = countrys.insert()
conn.execute(insert_country, countries_data)

# Вставка данных в таблицу Car
cars_data = [
    {'car_name': 'Audi', 'car_country': 'Germany', 'car_mileage': 15000.0, 'car_price': 50000.0},
    {'car_name': 'BMW', 'car_country': 'Germany', 'car_mileage': 20000.0, 'car_price': 60000.0},
    {'car_name': 'Mercedes', 'car_country': 'Germany', 'car_mileage': 10000.0, 'car_price': 70000.0},
    {'car_name': 'Mercedes', 'car_country': 'Germany', 'car_mileage': 8000.0, 'car_price': 65000.0},
    {'car_name': 'Lada', 'car_country': 'Russia', 'car_mileage': 5000.0, 'car_price': 10000.0},
    {'car_name': 'Lada', 'car_country': 'Russia', 'car_mileage': 3000.0, 'car_price': 12000.0},
    {'car_name': 'Lada', 'car_country': 'Russia', 'car_mileage': 7000.0, 'car_price': 9000.0},
    {'car_name': 'Toyota', 'car_country': 'Japan', 'car_mileage': 25000.0, 'car_price': 30000.0}
]

insert_car = cars.insert()
conn.execute(insert_car, cars_data)

# SELECT всех данных из таблицы Car
select_all = db.select(cars)
select_result = conn.execute(select_all)
print("Все автомобили:")
for row in select_result:
    print(row)
print()

# DELETE запрос - удаление стран с country_id > 2
delete_query = db.delete(countrys).where(countrys.columns.country_id > 2)
print("DELETE запрос:")
print(delete_query)
# conn.execute(delete_query)  # Раскомментировать для выполнения
print()

# JOIN запрос - автомобили со столицами их стран
join_query = db.select(
    cars.columns.car_name, 
    countrys.columns.country_capital
).join_from(
    countrys, 
    cars, 
    cars.columns.car_country == countrys.columns.country_name
)

print("JOIN запрос:")
print(join_query)

join_result = conn.execute(join_query)
join_data = join_result.fetchall()
print("Результат JOIN:")
for row in join_data:
    print(f"Автомобиль: {row[0]}, Столица: {row[1]}")
print()

# Подзапрос с CTE (Common Table Expression) - автомобили с пробегом < 12000
subquery = (
    db.select(cars)
    .where(cars.columns.car_mileage < 12000)
    .cte('low_mileage_cars')
)

statement = (
    db.select(
        subquery.columns.car_name,
        countrys.columns.country_capital,
        subquery.columns.car_mileage
    )
    .join_from(
        countrys,
        subquery,
        subquery.columns.car_country == countrys.columns.country_name
    )
)

print("Подзапрос с CTE:")
print(statement)

subquery_result = conn.execute(statement)
subquery_data = subquery_result.fetchall()
print("Результат подзапроса (автомобили с пробегом < 12000):")
for row in subquery_data:
    print(f"Автомобиль: {row[0]}, Столица: {row[1]}, Пробег: {row[2]} км")
print()

# Дополнительные запросы для демонстрации

# Группировка по стране с подсчетом количества автомобилей
group_query = (
    db.select(
        cars.columns.car_country,
        db.func.count(cars.columns.car_id).label('car_count')
    )
    .group_by(cars.columns.car_country)
)

print("Количество автомобилей по странам:")
group_result = conn.execute(group_query)
for row in group_result:
    print(f"Страна: {row[0]}, Количество автомобилей: {row[1]}")
print()

# Фильтрация с сортировкой по цене
filter_query = (
    db.select(cars)
    .where(cars.columns.car_price > 20000)
    .order_by(cars.columns.car_price.desc())
)

print("Автомобили дороже 20000 (отсортированы по убыванию цены):")
filter_result = conn.execute(filter_query)
for row in filter_result:
    print(f"Автомобиль: {row[1]}, Цена: ${row[4]}, Пробег: {row[3]} км")
print()

# Обновление данных
update_query = (
    db.update(cars)
    .where(cars.columns.car_name == 'Lada')
    .values(car_price=15000.0)
)

print("UPDATE запрос для Lada:")
print(update_query)
# conn.execute(update_query)  # Раскомментировать для выполнения
print()

# Закрытие соединения
conn.close()
print("Соединение с базой данных закрыто")

Все автомобили:
(1, 'Audi', 'Germany', 15000.0, 50000.0)
(2, 'BMW', 'Germany', 20000.0, 60000.0)
(3, 'Mercedes', 'Germany', 10000.0, 70000.0)
(4, 'Mercedes', 'Germany', 8000.0, 65000.0)
(5, 'Lada', 'Russia', 5000.0, 10000.0)
(6, 'Lada', 'Russia', 3000.0, 12000.0)
(7, 'Lada', 'Russia', 7000.0, 9000.0)
(8, 'Toyota', 'Japan', 25000.0, 30000.0)

DELETE запрос:
DELETE FROM "Country" WHERE "Country".country_id > :country_id_1

JOIN запрос:
SELECT "Car".car_name, "Country".country_capital
FROM "Country" JOIN "Car" ON "Car".car_country = "Country".country_name
Результат JOIN:
Автомобиль: Audi, Столица: Berlin
Автомобиль: BMW, Столица: Berlin
Автомобиль: Mercedes, Столица: Berlin
Автомобиль: Mercedes, Столица: Berlin
Автомобиль: Lada, Столица: Moscow
Автомобиль: Lada, Столица: Moscow
Автомобиль: Lada, Столица: Moscow
Автомобиль: Toyota, Столица: Tokyo

Подзапрос с CTE:
WITH low_mileage_cars AS
(SELECT "Car".car_id AS car_id, "Car".car_name AS car_name, "Car".car_country AS car_country, "Car".car_mileage AS car_mileage, "Car".car_price AS car_price
FROM "Car"
WHERE "Car".car_mileage < :car_mileage_1)
 SELECT low_mileage_cars.car_name, "Country".country_capital, low_mileage_cars.car_mileage
FROM "Country" JOIN low_mileage_cars ON low_mileage_cars.car_country = "Country".country_name
Результат подзапроса (автомобили с пробегом < 12000):
Автомобиль: Mercedes, Столица: Berlin, Пробег: 10000.0 км
Автомобиль: Mercedes, Столица: Berlin, Пробег: 8000.0 км
Автомобиль: Lada, Столица: Moscow, Пробег: 5000.0 км
Автомобиль: Lada, Столица: Moscow, Пробег: 3000.0 км
Автомобиль: Lada, Столица: Moscow, Пробег: 7000.0 км

Количество автомобилей по странам:
Страна: Germany, Количество автомобилей: 4
Страна: Japan, Количество автомобилей: 1
Страна: Russia, Количество автомобилей: 3

Автомобили дороже 20000 (отсортированы по убыванию цены):
Автомобиль: Mercedes, Цена: $70000.0, Пробег: 10000.0 км
Автомобиль: Mercedes, Цена: $65000.0, Пробег: 8000.0 км
Автомобиль: BMW, Цена: $60000.0, Пробег: 20000.0 км
Автомобиль: Audi, Цена: $50000.0, Пробег: 15000.0 км
Автомобиль: Toyota, Цена: $30000.0, Пробег: 25000.0 км

UPDATE запрос для Lada:
UPDATE "Car" SET car_price=:car_price WHERE "Car".car_name = :car_name_1

Соединение с базой данных закрыто